<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.belong.smart.mapper.MetroMapper">

    <!--查询地铁站首页-->
    <select id="getMetroByName" resultType="java.util.Map">
        SELECT
            t1.`name` AS currentName,
            t2.*
        FROM
            metro_steps AS t1,
            metro_lines AS t2
        WHERE
            t1.`name` = #{name}
          AND t1.line_id = t2.id;
    </select>

    <select id="getMetroDetial" resultType="com.belong.smart.entity.vo.MetroDetialBean">
        -- 6.2 查询地铁站详情
        SELECT
            t1.*,
            JSON_ARRAYAGG(JSON_OBJECT('id', t2.id, 'name', t2.`name`, 'sql', t2.seq, 'lineId', t2.line_id)) as metroStepsList
        FROM
            metro_lines as t1, metro_steps as t2
        WHERE
            t1.id = t2.line_id and  t1.id = #{id};
    </select>


    <select id="getMetroSteps" resultType="com.belong.smart.entity.po.MetroSteps">
        select *
        from metro_steps where line_id = #{id};
    </select>


</mapper>
